x64/
Music/
Debug/
Release/
Library/
Temp/
*.obj
*.log
*.ilk
*.pdb
*.ob
*.idb
*.recipe
*.tlog
*.log
*.DotSettings
*.csproj
*.pidb
*.suo
*.unityproj
*.user
*.userprefs
*.o
*.lo
*.la
*.al
*.libs
*.so
*.so
*.a
*.pyc
*.pyo
pycache/
*.rej
*.swp
*.DS_Store
